.sidebar-left {
  @media (min-width: $desktop) {
  order: 0;
  border-right: 1px solid #e9ecef;
  position: -webkit-sticky;
  position: sticky;
  top: 2 * $content-padding-top;
  align-self: flex-start; // Fix for sticky in flex
  }
}

.sidebar-right {
  display: none;
  order: 2;
  @media (min-width: $widescreen) {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 2 * $content-padding-top;
  align-self: flex-start; // Fix for sticky in flex
  }
}

.sidebar-middle {
  order: 1;
}

.docs-content {
  @media (min-width: $desktop) {
    padding-left: $content-padding-side;
    padding-right: $content-padding-side;
    max-width: $content-max-width;
  }
}

.toc, .side-navigation {
  @media (min-width: $desktop) {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
  }
}

.toc, .docs-content, .side-navigation {
  padding-top: $content-padding-top;
}

.side-navigation {
  overflow: visible;
  z-index: 9999;
}

.search-container-sidebar {
  margin-bottom: 2.5rem;
}

.search-sidebar {
  border: solid 1px #888888;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
}
